mat-form-field,
textarea{
    width: 100%;
}

button{
    width: 15%;
    color: red;
}

mat-card{
    padding: 1.5rem;
    margin-top: 1rem;
}

textarea, input{
    background-color: antiquewhite;
    border-radius: 4px;
    padding: 5px;
    max-height: 13rem;
}

mat-spinner{
    margin: auto;
}

div button {
    margin-bottom: 1rem;
}

.image-preview{
height: 5rem;
margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}